<div class="header">
  <img src="./../../assets/images/logo-medium.png" class="brand" alt="mnml-logo">

  <img src="./../../assets/images/add.png" class="add" alt="add-button">

  <div class="account-menu-container">
    <img src="./../../assets/images/user.png" class="user-picture" alt="user-picture">
    <div class="account-menu">
      <div class="account-menu-item">
        Account
      </div>
      <div class="account-menu-item">
        Settings
      </div>
      <div class="account-menu-item">
        Feedback
      </div>
      <div class="account-menu-divider"></div>
      <a class="logout-link" (click)="logoutUser()">
        <div class="account-menu-item">
          Logout
        </div>
      </a>
    </div>
  </div>
</div>
